<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Japanese Training</title>
    <style>
        td {
          width: 50px;
          height: 50px;
          padding: 10px;
          border: 1px solid #aaaaaa;
          text-align: center;
        }
    </style>
    
</head>
<body>
    <h1><%= data.english %></h1>
    <table>
        <tr>
        <% data.hiragana.forEach((x, i) => {%>
            <td class="slot" id="slot-<%=i%>" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)"><span></td>
        <% }) %>
        </tr>
    </table>
    <br/>
    <table>
        <tr>
        <% for(var i = 0; i < Math.ceil(hiragana.length/2); i++) { %>
            <td id="bin-<%=i%>" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)">
                <span><%=hiragana[i]%></span>
            </td>
        <% } %>
        </tr>
        <tr>
        <% for(var i = Math.ceil(hiragana.length/2); i < hiragana.length; i++) { %>
            <td id="bin-<%=i%>" draggable="true" ondragstart="drag(event)" ondrop="drop(event)" ondragover="allowDrop(event)">
                <span><%=hiragana[i]%></span>
            </td>
        <% } %>
        </tr>
    </table>
    <br/>
    <button id="verify">Submit</button>
    <script>
        function allowDrop(e) {
            e.preventDefault();
        }

        function drag(e) {
            e.dataTransfer.setData("text", e.target.id);
        }

        function drop(e) {
            e.preventDefault();
            var targetID = e.target.id;
            const sourceID = e.dataTransfer.getData("text");
            if(targetID == null || targetID == "") {targetID = e.target.parentElement.id;}
            
            var target = document.getElementById(targetID);
            var source = document.getElementById(sourceID);

            var temp = target.innerHTML;
            target.innerHTML= source.innerHTML;
            source.innerHTML = temp;
        }

        const submitBtn = document.getElementById('verify');
        submitBtn.addEventListener('click', verify)
        async function verify(e){
            e.preventDefault();
            const slots = document.getElementsByClassName("slot");
            const wordData = <%- JSON.stringify(data) %>;

            for(var i = 0; i < slots.length; i++){
                if(slots[i].firstElementChild.innerHTML != wordData.hiragana[i]){
                    console.log("Wrong");
                    return;
                }
            };
            console.log("Correct");
        }
    </script>
</body>
</html>